{% render 'partials/head.liquid' %}

<header class="mediahuis-header">
    <img src="/Screenshot 2025-03-05 at 12.00.01.png" alt="mediahuis logo">
    <div></div>
</header>

 {% comment %} {% for radio in stations %}

<a href="/id + {{ radio.id }}"> {{ radio.name }} </a>
<img src="{{ radio.logo }}">

{% endfor %}  {% endcomment %}

<section class="radiostations">
    <a href="/veronica"><img src="veronica-logo.svg" alt="veronica logo"></a>
</section>


{% render 'partials/foot.liquid' %}