{% render 'partials/head.liquid' %}

<header>
    <img src="/Screenshot 2025-03-05 at 12.00.01.png">
</header>

{% comment %} {% for radio in stations %}

<a href="/id"> {{ radio.name }} </a>
<img src="{{ radio.logo }}">

{% endfor %} {% endcomment %}

<section>
    <a href="/veronica">Veronica</a>
</section>


{% render 'partials/foot.liquid' %}