{% render 'partials/head.liquid' %}

<header class="mediahuis-header">
    <img src="/logo-mediahuis.png" alt="mediahuis logo">
    <div></div>
    <div></div>
</header>
<section class="radiostations">
    <a href="/veronica"><img src="veronica-logo.svg" alt="veronica logo"></a>
</section>


{% render 'partials/foot.liquid' %}