body {
    margin: 0;
}


.mediahuis-header {

    display: flex;
    align-items: center;
    margin-bottom: 200px;
    
    div {
        width: 80%;
        height: 100px;
        background-color: orange;
    }
}

.radiostations {
    display: flex;
    justify-content: center;

    img:nth-of-type(1) {
        background-color: var(--veronica-color-secondary);
        border: 5px solid var(--veronica-color-secondary);
        width: 250px;
    }

}
.veronica-header {
    display: flex;
    justify-content: center;
    background-color: var(--veronica-color-secondary);
    padding-block: 50px;

    img {
        width: 250px;
    }
}

.programma-sec {

    .programma {
        background-color: var(--veronica-color-main);
        width: 295px;
    }
}

.home {
    font-size: 40px;
    padding: 10px;
    color: var(--veronica-color-white);
    background-color: var(--veronica-color-secondary);
}