body {
    margin: 0;
    padding: 0;
}


.mediahuis-header {

    display: flex;
    align-items: center;
    margin-bottom: 200px;
    
    div {
        width: 80%;
        height: 100px;
        background-color: orange;
    }
}

.radiostations {
    display: flex;
    justify-content: center;

    img:nth-of-type(1) {
        background-color: var(--veronica-color-secondary);
        border: 5px solid var(--veronica-color-secondary);
        width: 250px;
    }

}
.veronica-header {
    display: flex;
    justify-content: center;
    background-color: var(--veronica-color-secondary);
    padding-block: 50px;

    img {
        width: 93px;
    }
}

.hoofd-nav {

    ul {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        gap: 32px;
        list-style: none;

        a {
            text-decoration: none;
        }

        a:hover, a:focus {
            color: var(--veronica-color-main);
            text-underline-offset: 8px;
            text-decoration-line: 2px;
            text-decoration: underline;
        }
    }
}

.datum-nav {

    ul {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        gap: 32px;
        list-style: none;
    

        button {
            display: flex;
            flex-direction: column;
        }
    }
}

.programma-sec {

    .programma {
        background-color: var(--veronica-color-main);
        width: 295px;


    }
}

.home {
    font-size: 40px;
    padding: 10px;
    color: var(--veronica-color-white);
    background-color: var(--veronica-color-secondary);
}